*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a{
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
html,
body {
   height: 100%;
   line-height: 1;
   font-size: 16px;
   color: #000;
}

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
   font-family: "Lato", sans-serif;
   color: #1E212C;
}
.top__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
}
.normal {
   line-height: 160%;
   color: #424551;
}
.bold{
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
}
